<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Birthday Reminder</title>

    <link th:rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css}"/>
    <link th:rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css}"/>
    <link th:rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Birthday Reminder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            	<li class="nav-item active">
                    <a class="nav-link" href="/addPerson">Add Person
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/personhome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
	<h1>List of Customers</h1>
	<table>
	    <tr>
	        <th>Id</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Date of Birth</th>
	        <th></th>
	        <th></th>
	    </tr>
	    <tr th:each="person, custStat : ${persons}">
	        <td th:text="${person.id}">1</td>
	        <td th:text="${person.firstName}">John</td>
	        <td th:text="${person.lastName}">Doe</td>
	        <td><strong th:text="${#temporals.format(person.dateOfBirth, 'dd-MMM-yyyy')}" ></strong></td>
	        <td><a th:href="@{/update/person(id=${person.id})}">Update</a></td>
	        <td><a th:href="@{/delete/person(id=${person.id})}">Delete</a></td>
	    </tr>
	</table>

    <a th:href="@{/}" class="btn btn-primary">Go back</a>
</div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js}"></script>

<script>
    $('.input-group.date').datepicker({
    	format: 'dd/mm/yyyy',
        autoclose: true,
        todayHighlight: true
    });
</script>

</body>
</html>